@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}




/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: 115px;
    align-items: center;
}

.main-header .header-img {
    width: 144px;
}

.main-header .main-nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.main-header .main-nav .nav-li {
    display: inline-block;
    margin-top: 11px;
}

.main-header .main-nav a {
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    text-decoration: none;
    margin: 0 17.5px;
    display: inline-block;
    text-transform: uppercase;
}

.main-header .main-nav a:last-child {
    margin-right: 0;
}

.main-header .main-nav .hamburger {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

.photo-background {
    background: url("background.jpg");
    height: 530px;
    background-size: cover;
}

.photo-background .photo-shadow {
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.photo-background .photo-shadow .title {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.photo-background .photo-shadow .subtitle {
    font-family: "Roboto Slab", sans-serif;
    color: #ccc;
    font-size: 20px;
    margin: 40px 0 60px 0;
}

.photo-background .photo-shadow .photo-button {
    width: 200px;
    margin: 0 auto;
    background: #7cc576;
    border-radius: 25px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 5px;
    border: 0;
}

.photo-background .photo-shadow .photo-button:hover {
    color: #222;
    background: #fff;
}


.services {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.services .title {
    font-size: 40px;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.services .subtitle {
    font-family: "Roboto Slab", sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-bottom: 90px;
    padding: 0 7px;
}

.services .services-items .title {
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

.services .services-items .subtitle {
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 400;
    line-height: 1.2;
}

.services .services-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services .services-items .services-items-inner .services-img {
    margin-bottom: 38px;
    height: 50px;
}

.services .services-items .services-items-inner {
    width: 31%;
}

.relax {
    display: flex;

}

.relax .gear {
    background: url("gear.jpg");
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.relax .relax-jpg {
    background: url("relax.jpg");
    width: 70%;
    background-size: cover;
    height: 100%;
}

.relax .relax-jpg .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 100px 0 100px 102px;
}

.relax .relax-jpg .overlay .relax-head {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-bottom: 45px;
}

.relax .relax-jpg .overlay .relax-head .relax-p {
    color: #7cc576;
}

.relax .relax-jpg .overlay .relax-subhead {
    font-family: "Roboto Slab";
    color: #cccccc;
    width: 55%;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.relax .relax-jpg .overlay .relax-list .relax-li {
    font-family: "Roboto Slab";
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 10px;

}

.relax .relax-jpg .overlay .relax-list .relax-li:last-child {
    margin-bottom: 50px;
}

.relax .relax-jpg .overlay .relax-list .relax-li:before {
    position: relative;
    font-family: 'FontAwesome';
    content: "\f00c";

    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #ccc;
    line-height: 32px;
    text-align: center;
    margin-right: 20px;
}

.relax .relax-jpg .overlay .relax-button {
    width: 200px;
    margin-bottom: 100px;
    background: #7cc576;
    border-radius: 25px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 5px;
    border: 0;
}

.relax .relax-jpg .overlay .relax-button:hover {
    color: #222;
    background: #fff;
}

.project {
    padding: 100px 0;
}

.project .tablet-holder {
    position: relative;
}

.project .tablet-holder .project-tablet {
    position: absolute;
    right: 0;
    top: 0;
    width: 444px;
}

.project .project-head {
    text-align: center;
}

.project .project-head .project-heading {
    font-weight: 700;
    font-size: 40px;
    color: #222;
    margin-bottom: 20px;
}

.project .project-head .project-subhead {
    font-family: "Roboto Slab";
    font-size: 20px;
    color: #777;
    margin-bottom: 91px;
}


.project .tablet-holder .project-container .project-title {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-bottom: 27px;
}

.project .tablet-holder .project-container .project-paragraph {
    font-family: "Roboto Slab";
    font-size: 16px;
    margin-bottom: 27px;
    color: #777;
    line-height: 1.2;
}

.project .tablet-holder .project-container .project-list .project-li .project-circle {

    display: flex;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 4px solid #000;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}


.project .tablet-holder .project-container .project-list .project-li {
    display: flex;
    margin-bottom: 15px;
}

.project .tablet-holder .project-container .project-list .project-li .project-list-paragraph {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.project .tablet-holder .project-container .project-list li .project-list-paragraph .list-heading {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-bottom: 7px;
}

.project .tablet-holder .project-container .project-list li .project-list-paragraph .list-paragraph {
    font-family: "Roboto Slab";
    font-size: 16px;
    color: #777;
}

.project .tablet-holder .project-container .project-bootom-text {
    font-family: "Roboto Slab";
    font-size: 16px;
    color: #777;
    line-height: 1.2;
    margin-bottom: 25px;

}

.project .tablet-holder .project-container .project-bottom-link {
    font-size: 16px;
    font-weight: 700;
    color: #7cc576;
    text-transform: uppercase;
    text-decoration: none;
}

.project .tablet-holder .project-container .project-bottom-link span {
    margin-left: 7px;

}


.culture {
    background: #f9f9f9;
    padding: 100px 0;
}

.culture .culture-header {
    text-align: center;
}

.culture .culture-header .culture-heading {
    font-size: 40px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
}

.culture .culture-header .culture-paragraph {
    font-family: "Roboto Slab";
    font-size: 20px;
    color: #777;
    margin-bottom: 86px;
}

.culture .culture-items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-content: center;
}

.culture .culture-items .culture-one-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 31%;
}

.culture .culture-items .culture-one-item .culture-circle {

    display: flex;
    height: 84px;
    width: 84px;
    border-radius: 50%;
    border: 4px solid #777;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    margin-bottom: 26px;


}

.culture .culture-items .culture-one-item .list-heading {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-bottom: 16px;
}

.culture .culture-items .culture-one-item .list-paragraph {
    font-family: "Roboto Slab";
    font-size: 14px;
    color: #777;
    line-height: 1.2;
}


.culture .culture-items .culture-one-item:after {
    content: "";
    height: 1px;
    width: calc(100% - 100px);
    background: #777;
    position: absolute;
    top: 43px;
    right: -115px;
}

.culture .culture-items .culture-one-item:last-of-type:after {
    display: none;
}

.our-clients {
    margin: 100px 0;
}

.our-clients .our-clients-header .clients-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #222;
    margin-bottom: 20px;
}

.our-clients .our-clients-header .clients-paragraph {
    font-family: "Roboto Slab";
    text-align: center;
    font-size: 20px;
    color: #777;
    margin-bottom: 90px;
}

.our-clients .our-clients-items .box {
    padding: 45px 0;
    width: 640px;
    background: #f9f9f9;
}

.our-clients .our-clients-items .circle {
    width: 208px;
    height: 208px;
    border-radius: 50%;
    background: #f9f9f9;
}

.our-clients .our-clients-items .our-clients-one-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 64px;
    font-family: "Roboto Slab";
    text-align: center;
    font-size: 22px;
    color: #777;
    line-height: 1.273;
}

.our-clients .our-clients-items .our-clients-one-item .figcaption {
    font-family: "Roboto Slab";
    color: #7cc576;
    font-size: 18px;
    margin-top: 19px;
}

.our-clients .our-clients-items .our-clients-one-item .reverse .circle {
    order: 2;
}

.our-clients .our-clients-items .our-clients-one-item .reverse .box {
    order: 1;
}

.our-clients .our-clients-items .our-clients-one-item .box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.our-clients .our-clients-items .our-clients-one-item .box .no-reverse:before {
    content: "";
    border-width: 17.5px 35px 17.5px 0;
    border-color: transparent #f9f9f9 transparent transparent;
    border-style: solid;
    display: block;
    position: absolute;
    left: -34px;
    top: 50%;
    transform: translateY(-50%);
}

.our-clients .our-clients-items .our-clients-one-item .box .box-reverse:before {
    content: "";
    border-width: 17.5px 0 17.5px 35px;
    border-color: transparent transparent transparent #f9f9f9;
    border-style: solid;
    display: block;
    position: absolute;
    right: -34px;
    top: 50%;
    transform: translateY(-50%);
}

.contact-wrapper {
    background: #7cc576;
    padding: 70px 0;
}

.contact-wrapper .contact-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-wrapper .contact-inner .contact-head {
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contact-wrapper .contact-inner .contact-button {
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 29px;
    text-transform: uppercase;
    border-radius: 5px;
}

.contact-wrapper .contact-inner .contact-button:hover {
    background: #fff;
    color: #7cc576;
}

.logos {
    display: flex;
    padding: 60px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.subfooter {
    background: #222;
    padding: 60px 0;
}

.subfooter .subfooter-inner {
    display: flex;
    flex-wrap: wrap;
}

.subfooter .subfooter-inner .subfooter-item {
    width: calc(100%/3);
}

.subfooter .subfooter-inner .subfooter-item .item-heading {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}



.subfooter .subfooter-inner .subfooter-item .footer-text {
    display: flex;
    margin-bottom: 18px;
    align-items: center;
}

.subfooter .subfooter-inner .subfooter-item .up {
    display: flex;
    margin-bottom: 18px;
    align-items: flex-start;
}

.subfooter .subfooter-inner .subfooter-item .footer-text span {

    color: #ececec;
    font-size: 36px;
    margin-right: 14px;
    width: 25px;
}

.subfooter .subfooter-inner .subfooter-item .footer-text span .envelope-icon {
    font-size: 20px;
}

.subfooter .subfooter-inner .subfooter-item .footer-text .footer-text-p {
    font-family: 'Roboto Slab';
    font-size: 16px;
    color: #ececec;
    line-height: 1.2;
    text-decoration: none;
}

.subfooter .subfooter-inner .subfooter-item .footer-text .footer-text-quotes {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 16px;
    color: #ececec;
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
}

.subfooter .subfooter-inner .subfooter-item .footer-text .subfooter-item-qoutes-time {
    font-family: 'Roboto Slab';
    font-size: 12px;
    color: #ececec;
}

.subfooter-item-block .footer-text-p {
    color: #fff;
    text-decoration: none;
}

.subfooter-item-block .subfooter-item-qoutes-time {
    color: #fff;
}

.subfooter .subfooter-inner .subfooter-item .footer-text .center-footer-text {
    display: flex;
    align-items: center;

}

.subfooter .subfooter-inner .subfooter-item .footer-text .png-holder {
    width: 23px;
    margin-right: 15px;
}

.subfooter .subfooter-inner .subfooter-item .footer-text .center {
    width: 25px;
}

.subfooter .subfooter-inner .subfooter-item .up .footer-text-p {
    position: relative;
    top: -4px;
}

.subfooter .subfooter-inner .subfooter-item .up {
    display: flex;
    align-items: flex-start;

}


.subfooter .subfooter-inner .subfooter-item .footer-text span.long {
    width: 47px;
}

.copyright {
    padding: 31px 0;
}

.copyright .copyright-boxes {
    display: flex;
    flex-wrap: wrap;

}

.copyright .copyright-boxes .copyright-inner .copyright-text {
    font-size: 14px;
    color: #555;
}

.copyright .copyright-boxes .copyright-inner {
    display: flex;
    align-items: center;
    width: calc(100%/3);

}

.copyright .copyright-boxes .center {
    justify-content: space-around;
}

.copyright .copyright-boxes .center a {
    color: #222;
}

.copyright .copyright-boxes .copyright-inner .circle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #222;

}

@media(min-width: 769px) and (max-width: 960px) {
    .container {
        width: 700px;
    }

    .relax .gear {
        background-position-x: -231px;

    }

    .culture .culture-items .culture-one-item::after {
        right: -70px;
    }

    .our-clients .our-clients-items .circle {
        display: none;
    }

    .our-clients .our-clients-items .box {
        width: 100%;
    }

    .our-clients .our-clients-items .box:after {
        border-width: 0;
        display: none;
    }
}

@media(max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .main-header .main-nav .hamburger {
        display: flex;
        align-items: center;
    }

    .list {
        display: none;
    }

    .change .list {
        display: block;
    }

    .change .list .ul-mobile .li-mobile{
        padding: 4px 0;
    }
    .change .list .ul-mobile .li-mobile :hover{
        background-color: #ccc;
    } 


    .main-header .main-nav .nav-ul {
        display: none;
    }

    .subfooter .subfooter-inner .subfooter-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .services .services-items .services-items-inner {
        width: 100%;
        margin: 0;
    }

    .services .services-items {
        width: 100%;
        margin: 0;
    }

    .our-clients .our-clients-items .circle {
        display: none;
    }

    .our-clients .our-clients-items .our-clients-one-item .box .no-reverse::before {
        display: none;
    }

    .our-clients .our-clients-items .our-clients-one-item .box .box-reverse::before {
        display: none;
    }

    .culture .culture-items .culture-one-item::after {
        height: 0;
    }
}

@media(min-width: 641px) and (max-width: 768px) {
    .project .tablet-holder .project-tablet {
        width: 220px;
    }

    .logos div {
        width: 50%;
        margin-bottom: 20px;
    }

}

@media(min-width: 481px) and (max-width: 640px) {
    .relax .gear {
        display: none;

    }

    .relax .relax-jpg {
        width: 100%;
    }

    .project .tablet-holder .project-tablet {
        width: 120px;
    }

    .culture .culture-items .culture-one-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .our-clients .our-clients-items .our-clients-one-item {
        font-size: 18px;
    }

    .logos .img-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width: 480px) {
    .main-header {
        padding: 70px 0;
    }

    .photo-background .photo-shadow .title {
        font-size: 30px;
    }

    .services .title {
        font-size: 30px;
    }

    .relax .gear {
        display: none;

    }

    .relax .relax-jpg {
        width: 100%;

    }

    .relax {
        height: auto;
    }

    .relax .relax-jpg .overlay {
        padding-left: 20px;
    }

    .project .tablet-holder .project-tablet {
        display: none;
    }

    .project .tablet-holder .project-container {
        width: 100%;
    }

    .project .tablet-holder .project-container .project-list .project-li {
        flex-direction: column;
    }

    .culture .culture-items .culture-one-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .logos .img-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    .copyright .copyright-boxes .copyright-inner {
        width: 100%;
        margin-bottom: 20px;
    }

    .copyright .copyright-boxes .center {
        justify-content: flex-start;
    }
}